@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import './custom.scss';

main {
    // margin-bottom: 250px;
}

p {
    font-family: $font-family-serif;
    font-size: 18px;
    // text-justify: auto;
    text-align: justify;
}

footer.footer {
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.hero-scene {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/FondHeroScene.jpg);
        background-size: cover;
        filter: brightness(0.3);
    }

    * {
        // Astuce pour positionner les éléments devant le ::before
        position: relative;
    }

    .hero-scene-content {
        height: 300px;
    }
}